
 <div id="home" ng-style="{'background-image':'url(https://i.imgur.com/j9xvJoR.png)', 'position':'absolute',
   'top':'0',
   'right':'0',
   'bottom':'0',
   'left':'0',
   'margin':'0',
   'box-sizing':'border-box',
   'background-repeat':'no-repeat',
   'background-size':'cover',
   'width':'100%',
   'height':'100%',
   'object-fit':'contain',
   'z-index':'-10'}">

   <div id="home-content">
    <h1>What</h1>
   </div>

 </div>

<!-- <div id="home">
  <div class="home-background placeholder">
    <video muted autoplay="" loop="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; width: auto; height: 803px;"><source src="css/assets/thai.mp4" type="video/mp4"></video>
  </div>

  <div class="valign" >
    <img id="mint" src="css/assets/MINTY.png" alt="">
  </div>

  <div id="what">
    <h1>hi</h1>
  </div>


</div>
 -->
