<div id="order-form">
  <div style="display: block" class="input-field col s12 m6">
    <form id="category-selection" action="#">
      <div class="radio-container" ng-repeat="category in vm.categories track by $index">
        <p>
          <input style="display: block" name="category" id="{{category}}-radio" type="radio" ng-model="vm.category" value="{{category}}">
          <label for="{{category}}-radio">{{category}}</label>
        </p>
      </div>
    </form>
  </div>
  <div class="input-field col s12 m6">
    <select name="order" id="order" ng-model="vm.item" class="icons" style="display: block">
      <option value="" disabled selected>{{vm.category}}</option>
      <option value="{{item.name}}" data-icon="images/sample-1.jpg" class="circle" ng-repeat="item in vm.all | filter: vm.category">
      {{item.name}}
      <div class="right">
      ${{item.cost}}
      </div>
      </option>
    </select>
  </div><br><br>
  <button ng-click="vm.submit(vm.item)" class="btn waves-effect waves-light" type="submit" name="action">Add</button>
</div>

<div>
  <p>Selected:{{vm.order}}</p>
</div>



