<div id="menu">
  <section>
  <div>
    <h1 style="text-align: center;">Menu</h1>
  </div>
    <div id="appetizers" class="menu-items">
      <ul>
          <h4 style="text-decoration: underline;">Appetizers</h4>
            <li ng-repeat="items in vm.all | filter:'Appetizers' ">
              {{items.name}}<br>
              {{items.description}}<br>
              <span ng-if="items.amount">{{items.amount}}<br></span>
              {{items.cost | currency}}<br><br>
            </li>
      </ul>
    </div>
    <div id="salads" class="menu-items">
      <ul>
        <h4 style="text-decoration: underline;">Salads</h4>
          <li ng-repeat="items in vm.all | filter:'Salads' ">
            {{items.name}}<br>
            {{items.description}}<br>
            {{items.amount}}<br>
            {{items.cost | currency}}<br><br>
          </li>
      </ul>
    </div>
    <div id="soups" class="menu-items">
      <ul>
        <h4 style="text-decoration: underline;">Soups</h4>
          <li ng-repeat="items in vm.all | filter:'Soups' ">
            {{items.name}}<br>
            {{items.description}}<br>
            {{items.amount}}<br>
            {{items.cost | currency}}<br><br>
          </li>
      </ul>
    </div>
    <div id="noodles" class="menu-items">
      <ul>
        <h4 style="text-decoration: underline;">Noodles</h4>
          <li ng-repeat="items in vm.all | filter:'Noodles' ">
            {{items.name}}<br>
            {{items.description}}<br>
            {{items.amount}}<br>
            {{items.cost | currency}}<br><br>
          </li>
      </ul>
    </div>
  </section>
</div>



